.advantages {
  padding: 19rem 0 6rem;

  @include mobile {
    padding-top: 5rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 -.5rem;

    @include mobile {
      flex-wrap: wrap;
      margin: -.75rem;
    }
  }

  &__item {
    width: calc(100% / 3);
    padding: 0 .5rem;

    @include mobile {
      width: 50%;
      padding: .75rem;
    }
  }
  
  &__card {
    padding: 0 .3rem;
    text-align: center;
    color: #000;
    max-width: 29rem;

    @include mobile {
      max-width: 25rem;
      margin: auto;
    }
  }

  &__img {
    margin: 0 auto 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 50%;
    background: $white;
    overflow: hidden;

    @include mobile {
      margin-bottom: 1.5rem;
      width: 6.4rem;
      height: 6.4rem;
    }
  }

  &__header {
    margin: 0 0 1.5rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 700;
    color: $white;

    @include mobile {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      line-height: 1.4rem;
    }
  }

  &__text {
    margin: 0;
    @include lato;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $white;
    
    @include mobile {
      font-size: 1rem;
      line-height: 1.2rem;

      br {
        display: none;
      }
    }
  }

  &__btn {
    display: block;
    margin: 7rem auto 0;

    @include mobile {
      margin-top: 3rem;
    }
  }
}