.card-gold {
  position: relative;
  margin: 25rem 0;

  @include mobile {
    margin: 5rem 0;
  }
  
  &__card {
    padding: 4.4rem 19.8rem 4.5rem;
    background: linear-gradient(180deg, #FF7C29 0%, #FFDC2E 100%);
    border-radius: .3rem;

    @include mobile {
      padding: 1.6rem 1.6rem 2.5rem;
    }
  }

  &__title {
    margin-bottom: 3.3rem;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;

    @include mobile {
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin-bottom: 1.4rem;
    }
  }

  &__text {
    margin-bottom: 9rem;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @include mobile {
      font-size: 1rem;
      line-height: 1.2rem;
      margin-bottom: 1.4rem;
    }
  }

  &__text-last {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    @include mobile {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}