.ready {
  padding: 46.6rem 0 38.5rem;
  background: url(../../assets/img/content/ready-bg.png) no-repeat center;

  &__title {
    text-align: left;
    
    &::before {
      left: 0;
      transform: none;
    }
  }

  &__subtitle {
    text-align: left;
    margin: 0 0 3.5rem;
  }

  &__list {
    display: flex;
    margin: 0 -1.4rem;
  }

  &__item {
    padding: 0 1.4rem;
  }

  &__btn {
    width: 20rem;
    padding: 1.8rem 4rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}