<div class="card-news">
  <div class="container">
    <div class="card-news__card">
        <div class="card-news__title">
          Новости
        </div>
        <div class="card-news__text">
          ТекТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстстТекстТекстТекстТекстТекстТекТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстТекстстТекстТекстТекстТекстТекстТекТекстТекстТекстТекстТекстТекстТекстТекстТекстТекст
        </div>
        <div class="card-news__text-last">
          2020-20-20
        </div>
      </div>
  </div>
</div>