<div class="card-gold">
  <div class="container">
    <div class="card-gold__card">
        <div class="card-gold__title">
          Заработайте ХХХ по тому-то: <br>
          пригласите друзей прямо сейчас!
        </div>
        <div class="card-gold__text">
          Ваша реферальная ссылка:<br>
          0000000000000000000000000
        </div>
        <div class="card-gold__text-last">
          Всего рефералов:
        </div>
      </div>
  </div>
</div>