<div class="card-photo">
  <div class="container">
    <div class="card-photo__card">
      <div class="card-photo__content">
        <div class="card-photo__text">
          Курс того-то
        </div>
        <div class="card-photo__text-bold">
          $000000000
        </div>
      </div>
      <div class="card-photo__img">
        
      </div>
    </div>
  </div>
</div>