<div class="card-btn">
  <div class="container">
    <div class="card-btn__card">
      <div class="card-btn__content">
        <div class="card-btn__text">
          Информация о балансе
        </div>
        <div class="card-btn__text-bold">
          0,000000000 BTC
        </div>
      </div>
      <ul class="card-btn__btns-list">
        <li class="card-btn__btns-item">
          {% include "../btn.twig" with {
            btnText: 'Открыть счет',
            btnMod: 'card-btn__btn',
            href: 'create.html'
          } %}
        </li>
        <li class="card-btn__btns-item">
          {% include "../btn.twig" with {
            btnText: 'Вход',
            btnMod: 'btn--transparent card-btn__btn card-btn__btn--transparent',
            href: 'enter.html'
          } %}
        </li>
      </ul>
    </div>
  </div>
</div>