<div class="card-sell">
  <div class="container">
    <div class="card-sell__card">
      <div class="card-sell__title">
        Ваш уровень торговой комиссии                            
      </div>
      <ul class="card-sell__per-list">
        <li class="card-sell__per-item">
          <div class="card-sell__per-title">
            Мейкер
          </div>
          <div class="card-sell__per-text">
            00000000%
          </div>
        </li>
        <li class="card-sell__per-item">
          <div class="card-sell__per-title">
            Трейкер
          </div>
          <div class="card-sell__per-text">
            00000000%
          </div>
        </li>
      </ul>
      <div class="card-sell__title">
        Чтобы перейти на VIP 1                          
      </div>
      <ul class="card-sell__list">
        <li class="card-sell__item">
          <div class="card-sell__val card-sell__text-grey">
            1. Объём торгов за 30 дней
          </div>
          <div class="card-sell__row">
            <div class="card-sell__text-bold">
              то-то%
            </div>
            <div class="card-sell__text-bold">
              00.00
            </div>
          </div>
          <div class="card-sell__line"></div>
          <div class="card-sell__row">
            <div class="card-sell__text-grey">
              VIP 0
            </div>
            <div class="card-sell__text-grey">
              VIP 1
            </div>
          </div>
        </li>
        <li class="card-sell__item">
          <div class="card-sell__val card-sell__text-grey">
            2. Ваш баланс DIAMOND
          </div>
          <div class="card-sell__row">
            <div class="card-sell__text-bold">
              DMND %
            </div>
            <div class="card-sell__text-bold">
              00.00
            </div>
          </div>
          <div class="card-sell__line"></div>
          <div class="card-sell__row">
            <div class="card-sell__text-grey">
              VIP 0
            </div>
            <div class="card-sell__text-grey">
              VIP 1
            </div>
          </div>
        </li>
      </ul>
  </div>
</div>