<div class="card-level">
  <div class="container">
    <div class="card-level__card">
      <div class="card-level__row">
        <div class="card-level__text">
          Повысить уровень безопасности                            
        </div>
        <div class="card-level__text">
          0/4
        </div>
      </div>
      <div class="card-level__line"></div>
  </div>
</div>