<div class="card-activity">
  <div class="container">
    <div class="card-activity__card">
      <div class="card-activity__title">
        Активность                            
      </div>
        <ul class="card-activity__list">
          <li class="card-activity__item">
            <div class="card-activity__subtitle">
              Откуда заходили (комп, телефон)                               
            </div>
            <div class="card-activity__text">
              Геолокация
            </div>
          </li>
          <li class="card-activity__item">
            <div class="card-activity__subtitle">
              ID устройства                               
            </div>
            <div class="card-activity__text">
              Дата и время
            </div>
          </li>
        </ul>
        <div class="card-activity__text-last">
          2020-20-20
        </div>
      </div>
  </div>
</div>