

<header class="page-header" id="header">
  <div class="page-header__top-bg">
    <div class="container page-header__container">
      <a href="./" class="page-header__link">
        {% include "../svg-temp.twig" with {
          iconName: 'logo',
          mod: 'page-header__logo'
        } %}
      </a>
      {% include "../nav.twig" with {
        navMod: 'page-header__nav'
      } %}
      
      {% include "../language.twig" with {
        modLang: 'page-header__language',
      } %}
      <div class="page-header__menu-btn js-menu-btn">
        <div class="page-header__menu-line"></div>
        <div class="page-header__menu-line"></div>
        <div class="page-header__menu-line"></div>
      </div>
    </div>
  </div>
</header>
