.nav {
  $self: &;

  display: flex;
  align-items: center;

  &--single-page {
    padding: 29.7rem 0 17.7rem;

    @include mobile {
      padding: 8.1rem 0 4.5rem;
    }
  }
  
  &__list {
    display: flex;
    margin: 0 -3.7rem;

    @include mobile {
      margin: 0 -.8rem;
      
    }

    #{$self}--vertical & {
      margin: -1.2rem 0;
      flex-direction: column;
    }

    #{$self}--single-page & {
      margin: 0;
      justify-content: space-between;
      width: 100%;

      @include mobile {
        margin: 0 -1.5rem;
        overflow-x: auto;
        overflow-y: hidden;
      }
    }
  }

  &__item {
    padding: 0 3.7rem;

    @include mobile {
      padding: 0 .8rem;
    }

    #{$self}--vertical & {
      position: relative;
      padding: 1.2rem 0;
      width: 100%;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: .2rem;
        left: 0;
        width: 100%;
        height: .1rem;
        background: rgba($white, .2);
      }
    }
    
    #{$self}--single-page &  {
      padding: 0;

      @include mobile {
        padding: 0 1.5rem;
        white-space: nowrap;
      }
    }
  }

  &__link {
    font-size: 2.4rem;
    font-weight: 500;
    color: $white;

    @include mobile {
      font-size: .8rem;
    }

    #{$self}--vertical & {
      font-size: 1.8rem;
    }
  }
}